-- Create the chat-images bucket if it doesn't exist
-- Note: This needs to be run in Supabase SQL Editor

-- Create bucket (if not exists)
INSERT INTO storage.buckets (id, name, public)
VALUES ('chat-images', 'chat-images', true)
ON CONFLICT (id) DO NOTHING;

-- Enable RLS on storage.objects
ALTER TABLE storage.objects ENABLE ROW LEVEL SECURITY;

-- Policy for authenticated users to upload files
CREATE POLICY 'Allow authenticated users to upload files' ON storage.objects
FOR INSERT WITH CHECK (
  bucket_id = 'chat-images' 
  AND auth.role() = 'authenticated'
);

-- Policy for authenticated users to view files
CREATE POLICY 'Allow authenticated users to view files' ON storage.objects
FOR SELECT USING (
  bucket_id = 'chat-images' 
  AND auth.role() = 'authenticated'
);

-- Policy for authenticated users to delete their own files (optional)
CREATE POLICY 'Allow authenticated users to delete files' ON storage.objects
FOR DELETE USING (
  bucket_id = 'chat-images' 
  AND auth.role() = 'authenticated'
  AND auth.uid()::text = (storage.foldername(name))[1]
);
